body {
  font-family: "Rubik" !important;
}

h1 {
  margin: 0;
  font-family: "Rubik" !important;
}

.App {
  background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(3, 2, 53, 1) 8%, rgba(88, 9, 121, 1) 27%, rgba(0, 212, 255, 1) 100%);
  /* height: 1000px; */
}

.header {
  text-align: center;
  /* font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
  font-size: 50px;
  color: yellowgreen;
  font-weight: 600;
  padding: 20px 0 0 0;
}

.flx {
  margin-top: 80px;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  /* flex-shrink: 1; */
}

.movie-card {
  /* width: 20%; */
  margin: 0 30px 40px;
  background-color: aliceblue;
  border-radius: 10px;
  cursor: pointer;
}

.anc {
  display: block;
  width: 25%;
}

.movie-card h1 {
  padding: 10px 7px 15px;
}

.movie-card img {
  width: 100%;
  border-radius: 10px;
}

.search input {
  width: 300px;
  height: 22px;
  /* border-radius: 14px 0; */
  background: #fff 0 0 no-repeat padding-box;
  border: 2px solid #ADC1C759;
  border-radius: 10px;
  opacity: 1;
  transition: .2s;
  transition-timing-function: ease-out;
}

.search {
  margin: 40px 175px 0 0;
  display: flex;
  justify-content: flex-end;
}

.search img {
  width: 15px;
  height: auto;
  margin: 2px 0 0 5px;
  cursor: pointer;
}

.error {
  background-color: blue;
  height: 1000px;
  width: 100%;
}

.error-div {
  color: red;
  font-weight: bold;
  font-size: 57px;
  justify-content: center;
  display: flex;
  font-family: monospace;
}

.details {
  width: 100%;
  background: rgb(13, 0, 36);
  background: linear-gradient(90deg, rgba(13, 0, 36, 0.745131377746411) 0%, rgba(80, 106, 7, 1) 8%, rgba(131, 25, 128, 1) 27%, rgba(0, 212, 255, 1) 75%);
}

.details-main-div {
  width: 85%;
  min-height: 800px;
  margin: 0 auto;
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
}

.details img {
  min-height: 500px;
  display: block;
  border: 2px solid palevioletred;
  box-decoration-break: clone;
}

.details a {
  color: #0000003f;
}

@media (max-width: 649px) {
  .movie-card {
    /* width: 100%; */
    margin: 0 10px 20px;
  }

  .anc {
    display: block;
    width: 100%;
  }

  .search {
    margin: 40px 0px 0 0px;
    width: 100%;
    justify-content: center;
  }

  .search input {
    width: 70%;
  }

  .flx {
    padding: 15px;
  }

  .details-main-div {
    display: block;
  }

  .details img {
    margin: 0 0 20px 0;
  }
}

@media (min-width: 650px) and (max-width: 1199px) {
  .movie-card {
    /* width: 40%; */
    margin: 0 10px 20px;
  }

  .anc {
    display: block;
    width: 40%;
  }

  .search {
    margin: 40px 0px 0 0px;
    justify-content: center;
  }

  .search input {
    width: 70%;
  }

  .flx {
    padding: 15px;
  }
}